In [ ]:
import numpy as np
import pandas as pd
import json
import pandas_profiling as pp
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# path = '/content/chotot_used_cars.csv'
path_1 = 'data/bonbanh_used_cars.json' # replace with path on your machine
# path_2 = '/content/otocom_used_car.json'
# path_3 = '/content/sanxehot_detail.json'
f = open(path_1, 'r')
# f1 = open(path_2, 'r')
# f2 = open(path_3, 'r')
data1 = json.load(f)
# data2 = json.load(f1)
# data3 = json.load(f2)
# chotot = pd.read_csv(path)
bonbanh = pd.DataFrame.from_records(data1)
# otocom = pd.DataFrame.from_records(data2)
# sanxehot = pd.DataFrame.from_records(data3)

##Standardized data sets

In [ ]:
# chotot['type'] = chotot['type'].map({'Sedan':'sedan', 'Hatchback' : 'hatchback', 'Van' : 'van', 'SUV / Cross over': 'suv', 'Minivan (MPV)': 'mpv', 'Pick-up (bán tải)' : 'pick-up', 'Kiểu dáng khác' : np.nan, 'Coupe (2 cửa)':'coupe', 'Mui trần' : 'convertible', '' : np.nan})

In [ ]:
# otocom.transmission = otocom.transmission.apply(lambda x: x.strip())
# otocom = otocom[otocom.transmission.isin(['automatic', 'manual', 'semi-automatic'])]
# otocom.transmission.unique()

In [ ]:
# chotot = chotot[(chotot.transmission != '5')]

In [ ]:
# otocom['type'] = otocom.type.apply(lambda x: x.strip())
# otocom.replace('pick-up truck', 'pickup', inplace=True)
# otocom.type.unique()

In [ ]:
# otocom = otocom[otocom.type != 'sport car']

In [ ]:
# chotot.replace('Động cơ hybrid', 'hybrid', inplace = True)
# chotot.fuel.unique()

In [ ]:
bonbanh.drop(['internal_color', 'external_color', 'name'], axis = 1, inplace=True)
bonbanh_source = bonbanh.source_url
bonbanh.drop(['source_url'], axis = 1, inplace=True)

In [ ]:
# otocom.rename(columns={'Engine displacement': 'engine_capacity', 'name': 'model', 'model': 'type'}, inplace=True)
# otocom_source = otocom.source_url
# otocom_city = otocom.city
# otocom.drop(['source_url', 'city'], axis = 1, inplace = True)

In [ ]:
# sanxehot = sanxehot[sanxehot['name'].notna()]
# sanxehot = sanxehot[sanxehot['year'].notna()]
# sanxehot_source_url = sanxehot.source_url
# sanxehot.name = sanxehot.name.str.replace('-',' ')
# sanxehot['model'] = [a.replace(b, '').strip() for a, b in zip(sanxehot['name'], sanxehot['brand'])]
# sanxehot.model = sanxehot.model.str.replace('Morning / Picanto', 'Morning')
# sanxehot.model.unique()
# sanxehot

In [ ]:
# sanxehot_source_url = sanxehot.source_url
# sanxehot.drop(['name', 'source_url', 'external_color', 'wheel_drive'], axis=1, inplace=True)

In [ ]:
# chotot.drop('url', axis = 1, inplace=True)
# chotot.rename({'fuel': 'fuels', 'date': 'year', 'prices':'price'}, axis = 1, inplace = True)
# chotot.head()

In [ ]:
bonbanh.sort_index(axis=1, inplace=True)
# otocom.sort_index(axis=1, inplace=True)
# sanxehot.sort_index(axis=1, inplace=True)
# chotot.sort_index(axis=1, inplace=True)

In [ ]:
bonbanh.drop(['wheel_drive'], axis = 1 , inplace = True) # remove this when all other dataset filled with this missing info

##Combined dataset

In [ ]:
# cars = pd.concat([bonbanh,  otocom, sanxehot, chotot])
cars = pd.concat([bonbanh])

In [ ]:
cars.dropna(subset=['brand'],inplace=True)
cars.brand = cars.brand.apply(lambda x: x.lower().strip())

In [ ]:
cars.model.unique()
cars.model = cars.model.apply(lambda x: x.lower().strip())
cars.model.replace({'khác':np.nan, 'Khác':np.nan, 'dòng':np.nan},inplace=True)
# cars.brand.replace({'hãng khác':np.nan},inplace=True)
cars.model.unique()

array(['zdx', 'mdx', 'legend', 'a7', 'a6', 'q7', 'a5', 'q5', 'a4', 'tt',
       'a8', 'a1', 'a3', 'q8', 'q3', 'q2', 's5', '7 series', '3 series',
       '5 series', 'x3', 'x5', '6 series', 'x6', 'x4', '4 series', 'x7',
       'x2', 'x1', 'z4', 'i8', '2 series', 'm3', '1 series', 'lacetti',
       'spark', 'captiva', 'cruze', 'orlando', 'vivant', 'colorado',
       'aveo', 'trailblazer', 'tahoe', 'trax', 'corvette', 'camaro',
       'gentra', 'matiz', 'nubira', 'magnus', 'lanos', 'cielo', 'gentrax',
       'racer', 'leganza', 'espero', 'damas', 'labo', 'transit', 'ranger',
       'explorer', 'everest', 'ecosport', 'focus', 'tourneo', 'escape',
       'fiesta', 'f150', 'mustang', 'mondeo', 'laser', 'edge', 'bronco',
       'windstar', 'civic', 'city', 'brio', 'crv', 'accord', 'hrv',
       'odyssey', 'jazz', 'pilot', 'stream', 'tucson', 'kona', 'accent',
       'i10', 'santafe', 'i30', 'genesis', 'elantra', 'avante', 'county',
       'solati', 'veloster', 'grand starex', 'getz', 'sonata', 'xg',
       'i20', 'veracruz', 'starex', 'equus', 'click', 'creta', 'terracan',
       'verna', 'grandeur', 'h 1', 'eon', 'coupe', 'tuscani', 'galloper',
       'matrix', 'dmax', 'hi lander', 'mu-x', 'trooper', 'sonet', 'k3',
       'seltos', 'sorento', 'morning', 'rondo', 'carens', 'k5',
       'carnival', 'soluto', 'cerato', 'sedona', 'rio', 'optima', 'forte',
       'sportage', 'picanto', 'pride', 'opirus', 'quoris', 'spectra',
       'soul', 'cadenza', 'range rover sport', 'range rover',
       'range rover velar', 'range rover evoque', 'discovery', 'defender',
       'discovery sport', 'freelander', 'gs', 'lx', 'rx', 'ls', 'es',
       'nx', 'lm', 'gx', 'is', 'hs', 'ct', 'sc', '3', '6', '2', 'bt50',
       'cx5', 'cx 30', 'cx8', 'cx3', 'cx9', '626', 'mpv', '323',
       'premacy', '929', 'c class', 'gls', 's class', 'mb', 'glc',
       'e class', 'gl', 'maybach', 'g class', 'glk class', 'gla class',
       'gle class', 'glb', 'cla class', 'v class', 'a class', 'sprinter',
       'cls class', 'vito', 'r class', 'ml class', 'amg gt', 'slc',
       'clk class', 'zs', 'cooper', 'one', 'pajero sport', 'xpander',
       'outlander', 'attrage', 'triton', 'grandis', 'pajero', 'jolie',
       'space gear', 'outlander sport', 'zinger', 'lancer', 'mirage',
       'l300', 'colt', 'terra', 'almera', 'sunny', 'navara', 'murano',
       'teana', 'x trail', 'juke', 'cefiro', 'rogue', 'terrano',
       'bluebird', 'grand livina', 'patrol', 'cedric', 'qashqai',
       'pathfinder', 'sentra', 'urvan', 'maxima', '208', '405', '5008',
       '206', '3008', '2008', 'traveller', '107', '508', '408', 'cayenne',
       'macan', 'panamera', '718', 'boxster', '911', 'cayman', 'forester',
       'outback', 'levorg', 'legacy', 'xl7', 'swift', 'ciaz',
       'super carry van', 'ertiga', 'celerio', 'vitara', 'grand vitara',
       'apv', 'wagon r+', 'alto', 'fortuner', 'corolla altis', 'vios',
       'wigo', 'corolla cross', 'rush', 'yaris', 'camry', 'hilux',
       'prado', 'corolla', 'zace', 'land cruiser', 'innova', 'avanza',
       'raize', 'rav4', 'venza', 'sienna', 'celica', 'highlander',
       'hiace', 'fj cruiser', 'alphard', 'crown', 'granvia', 'sequoia',
       'prius', 'previa', 'avalon', 'solara', 'cressida', 'corona',
       '4 runner', 'corolla verso', 'tundra', 'wish', 'fadil',
       'lux sa 2.0', 'lux a 2.0', 'president', 'vf e34', 'tiguan',
       'passat', 'teramont', 'scirocco', 'jetta', 'polo', 'new beetle',
       'golf', 'eos', 'beetle', '159', 'db11', 'db9', 'beijing x7', 'f6',
       'x55', 'flying spur', 'bentayga', 'continental', 'mulsanne',
       'lacrosse', 'excelle', 'f0', 'srx', 'escalade', 'sts', 'qq3',
       'riich', '200', '300c', 'challenger', 'journey', 'db x30', 'sx6',
       'forthing t5', 'fengxing cm7', 'roma', 'f8', '458', '488',
       'emgrand', 'yukon', 'h3', 'qx', 'ex', 'fx', 'e-pace', 'xf',
       'xj series', 'f-pace', 'xe', 'f type', 'wrangler', 'gladiator',
       'daily', 'urus', '520', 'navigator', 'town car', 'm7', 'u7',
       'quattroporte', 'levante', 'ghibli', 'grancabrio', '720s',
       'pronto', 'star', 'plus four', 'plus six', '1500', 'sandero',
       'duster', 'logan', 'latitude', 'koleos', 'wraith', 'phantom',
       'ghost', 'cullinan', 'sm3', 'xd', 'fortwo', 'forfour', 'rexton',
       'stavic', 'tivoli', 'musso', 'korando', 'kyron', 'v5', 'towner',
       'mcar', 'simbir', 'hunter', nan, 's60', 'xc40', 'xc60', 'xc90',
       's90', 'v90', 'v60', 'z8'], dtype=object)

In [ ]:
cars.reset_index(drop=True, inplace=True)

In [ ]:
khac = cars[cars.brand == 'hãng khác'].index
cars.drop(index=khac, inplace=True)

In [ ]:
cars.replace(['mercedes benz', 'mercedes-benz'], 'mercedes', inplace=True)

In [ ]:
#process BMW & Mercedes
cars.replace('series 3', '3 series', inplace = True)
cars.replace('series 5', '5 series', inplace = True)
bmw_index = cars[cars['brand'] == 'bmw'].index
merc_index = cars[cars['brand'] == 'mercedes'].index
# bmw.model = bmw.model.str.split(expand=True)[0]
# bmw.model.value_counts()[:15]
cars.model.loc[([*bmw_index, *merc_index])] = cars.loc[([*bmw_index, *merc_index])].model.str.split(expand=True)[0]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
#process Honda & Mazda

cars.replace(['cr', 'cr v', 'cr-v'], 'crv', inplace = True)
cars.replace(['cx-5', 'cx 5'], 'cx5', inplace = True)
cars.replace(['bt-50', 'bt 50'], 'bt50', inplace = True)
cars.replace(['cx-30', 'cx 30'], 'cx30', inplace = True)
cars.replace(['cx-8', 'cx 8'], 'cx8', inplace = True)
cars.replace(['cx-9', 'cx 9'], 'cx9', inplace = True)
cars.replace('hr-v', 'hrv', inplace = True)

In [ ]:
cars.replace('santa', 'santafe', inplace = True)

In [ ]:
cars = cars[(cars['model'] != 'cx')]
cars

,brand,engine_capacity,fuels,km_driven,model,origin,price,seats,transmission,type,year
0,acura,3.7,gasoline,0,zdx,imported,1280000000,5,automatic,crossover,2010
1,acura,3.7,gasoline,0,mdx,imported,600000000,5,automatic,suv,2008
2,acura,3.7,gasoline,110000,zdx,imported,960000000,5,automatic,crossover,2010
3,acura,3.7,gasoline,0,mdx,imported,650000000,5,automatic,suv,2007
4,acura,3.7,gasoline,10000,mdx,imported,590000000,5,automatic,suv,2009
...,...,...,...,...,...,...,...,...,...,...,...
28952,volvo,2.0,gasoline,0,xc60,imported,1580000000,5,automatic,suv,2016
28953,volvo,2.0,gasoline,6000,xc90,imported,3250000000,5,automatic,suv,2017
28954,zotye,2.0,gasoline,100000,z8,imported,500000000,5,automatic,suv,2019
28955,zotye,2.0,gasoline,38000,z8,imported,495000000,5,automatic,suv,2019
28956,zotye,2.0,gasoline,45000,z8,imported,465000000,5,automatic,suv,2018

In [ ]:
#process Vinfast

lux_a = cars[(cars['brand'] == 'vinfast') & (cars['model'] == 'lux') & (cars['type'] == 'sedan')].index
lux_sa = cars[(cars['brand'] == 'vinfast') & (cars['model'] == 'lux') & (cars['type'] == 'suv')].index
cars.model.loc[lux_a] = 'lux a 2.0'
cars.model.loc[lux_sa] = 'lux sa 2.0'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
#process Toyota

drop_corolla = [*cars[(cars['brand'] == 'toyota') & (cars['model'] == 'corolla') & (cars['type'] == 'mpv')].index, *cars[(cars['brand'] == 'toyota') & (cars['model'] == 'corolla') & (cars['type'] == 'hatchback')].index]
cars.drop(index=drop_corolla, inplace = True)
cars.replace('altis', 'corolla altis', inplace = True)

In [ ]:
top15 = cars.brand.value_counts()[:15].index
cars1 = cars.loc[cars['brand'].isin(top15)]
cars1.shape

(26581, 11)

In [ ]:
cars[(cars['brand'] == 'toyota') & (cars['model'] == 'corolla')].type.unique()

array(['sedan'], dtype=object)

In [ ]:
corolla_suv = cars[(cars['brand'] == 'toyota') & (cars['model'] == 'corolla') & (cars['type'] == 'suv')].index
corolla_sedan = cars[(cars['brand'] == 'toyota') & (cars['model'] == 'corolla') & (cars['type'] == 'sedan')].index
cars.model.loc[corolla_suv] = 'corolla cross'
cars.model.loc[corolla_sedan] = 'corolla altis'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
cars_process = cars.copy()
cars_process.model = cars['brand'] + ' ' + cars['model']
cars_process

,brand,engine_capacity,fuels,km_driven,model,origin,price,seats,transmission,type,year
0,acura,3.7,gasoline,0,acura zdx,imported,1280000000,5,automatic,crossover,2010
1,acura,3.7,gasoline,0,acura mdx,imported,600000000,5,automatic,suv,2008
2,acura,3.7,gasoline,110000,acura zdx,imported,960000000,5,automatic,crossover,2010
3,acura,3.7,gasoline,0,acura mdx,imported,650000000,5,automatic,suv,2007
4,acura,3.7,gasoline,10000,acura mdx,imported,590000000,5,automatic,suv,2009
...,...,...,...,...,...,...,...,...,...,...,...
28952,volvo,2.0,gasoline,0,volvo xc60,imported,1580000000,5,automatic,suv,2016
28953,volvo,2.0,gasoline,6000,volvo xc90,imported,3250000000,5,automatic,suv,2017
28954,zotye,2.0,gasoline,100000,zotye z8,imported,500000000,5,automatic,suv,2019
28955,zotye,2.0,gasoline,38000,zotye z8,imported,495000000,5,automatic,suv,2019
28956,zotye,2.0,gasoline,45000,zotye z8,imported,465000000,5,automatic,suv,2018

In [ ]:
#keep only top 15 most appear model each brand
model_keep = []

def top_appear(brand):
  _keep_index = cars_process[cars_process['brand']==brand].model.value_counts()[:15].index
  _keep_values = cars_process[cars_process['brand']==brand].model.value_counts()[:15]

  for i, j in zip(_keep_index, _keep_values):
    if j > 27:
      model_keep.append(i)
      # print('{} : {}'.format(i,j))

model_keep = [*model_keep, *cars_process[cars_process['brand'] == 'vinfast'].model.unique()]

for _ in top15:
  top_appear(_)

cars_process = cars_process.loc[cars_process['model'].isin(model_keep)]
cars_process

,brand,engine_capacity,fuels,km_driven,model,origin,price,seats,transmission,type,year
220,bmw,2.0,gasoline,60000,bmw 7,imported,2380000000,4,automatic,sedan,2015
221,bmw,2.0,gasoline,57000,bmw 3,imported,929000000,4,automatic,sedan,2016
222,bmw,2.0,gasoline,60000,bmw 5,imported,1255000000,4,automatic,sedan,2016
225,bmw,3.0,gasoline,0,bmw x5,imported,4549000000,5,automatic,suv,2020
226,bmw,2.0,gasoline,0,bmw 3,imported,1671000000,4,automatic,sedan,2021
...,...,...,...,...,...,...,...,...,...,...,...
28163,vinfast,1.4,gasoline,0,vinfast fadil,domestic,414000000,5,automatic,hatchback,2020
28164,vinfast,2.0,gasoline,0,vinfast lux a 2.0,domestic,1198000000,4,automatic,sedan,2020
28165,vinfast,1.4,gasoline,0,vinfast fadil,domestic,414000000,5,automatic,hatchback,2020
28166,vinfast,1.4,gasoline,0,vinfast fadil,domestic,383000000,5,automatic,hatchback,2020
28167,vinfast,2.0,gasoline,0,vinfast lux a 2.0,domestic,982000000,4,automatic,sedan,2020

In [ ]:
cars_process = cars_process[cars_process.km_driven > 1000]
cars_process.shape

(10412, 11)

In [ ]:
cars_process.reset_index(drop=True, inplace=True)

In [ ]:
from scipy import stats

q_low_price = cars_process["price"].quantile(0.02)
q_hi_price  = cars_process["price"].quantile(0.97)

cars_process = cars_process[(cars_process["price"] < q_hi_price) & (cars_process["price"] > q_low_price)]
cars_process.shape

(9881, 11)

In [ ]:
cars_process = cars_process[cars_process['year'] > 2007]

In [ ]:
cars_process.dropna(inplace=True)

##Encoding categorical

In [ ]:
transmission = cars_process['transmission']
transmission = pd.get_dummies(transmission,drop_first=True)
transmission.head()

   manual
0       0
1       0
2       0
3       0
4       0

In [ ]:
fuels = cars_process['fuels']
fuels = pd.get_dummies(fuels,drop_first=True)
fuels.head()

   gasoline  hybrid
0         1       0
1         1       0
2         1       0
3         1       0
4         1       0

In [ ]:
cars_process.replace('pick-up', 'pickup', inplace=True)

In [ ]:
type1 = cars_process['type']
type1 = pd.get_dummies(type1,drop_first=True)
type1.head()

   coupe  crossover  hatchback  pickup  sedan  suv  van
0      0          0          0       0      1    0    0
1      0          0          0       0      1    0    0
2      0          0          0       0      1    0    0
3      0          0          0       0      1    0    0
4      0          0          0       0      1    0    0

In [ ]:
origin = cars_process['origin']
origin = pd.get_dummies(origin,drop_first=True)
origin.head()

   imported
0         1
1         1
2         1
3         1
4         1

In [ ]:
final_cars = pd.concat([cars_process, transmission, fuels, origin, type1],axis = 1)
final_cars.shape

(9294, 22)

In [ ]:
#Save data to csv
final_cars.to_csv('final_cars.csv', index = False)

In [ ]:
final_cars

,brand,engine_capacity,fuels,km_driven,model,origin,price,seats,transmission,type,...,gasoline,hybrid,imported,coupe,crossover,hatchback,pickup,sedan,suv,van
0,bmw,2.0,gasoline,60000,bmw 7,imported,2380000000,4,automatic,sedan,...,1,0,1,0,0,0,0,1,0,0
1,bmw,2.0,gasoline,57000,bmw 3,imported,929000000,4,automatic,sedan,...,1,0,1,0,0,0,0,1,0,0
2,bmw,2.0,gasoline,60000,bmw 5,imported,1255000000,4,automatic,sedan,...,1,0,1,0,0,0,0,1,0,0
3,bmw,2.0,gasoline,28500,bmw 3,imported,1199000000,4,automatic,sedan,...,1,0,1,0,0,0,0,1,0,0
4,bmw,2.0,gasoline,45000,bmw 3,imported,920000000,4,automatic,sedan,...,1,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10407,vinfast,2.0,gasoline,4800,vinfast lux a 2.0,domestic,815000000,4,automatic,sedan,...,1,0,0,0,0,0,0,1,0,0
10408,vinfast,1.4,gasoline,4200,vinfast fadil,domestic,342000000,5,automatic,hatchback,...,1,0,0,0,0,1,0,0,0,0
10409,vinfast,2.0,gasoline,9000,vinfast lux sa 2.0,domestic,1230000000,5,automatic,suv,...,1,0,0,0,0,0,0,0,1,0
10410,vinfast,2.0,gasoline,15000,vinfast lux sa 2.0,domestic,1170000000,5,automatic,suv,...,1,0,0,0,0,0,0,0,1,0
10411,vinfast,2.0,gasoline,11000,vinfast lux a 2.0,domestic,980000000,4,automatic,sedan,...,1,0,0,0,0,0,0,1,0,0